.tabs-container {
    text-align: center;
}
  
.tabs-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}


.tab-item {
    background-color: white;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    transition: background-color 0.25s;
}

.tab-item > a {
    transition: background-color 0.25s;
    text-decoration: none;
    color: black;
}

.tab-item:hover {
    background-color: #213547;
}


.tab-item:hover > a{
    color: white;
}


.active {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color 0.25s;
}



.active > a {
    color: white;
}