.tabs-container {
    text-align: center;
}
  
.tabs-list {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}


.tab-item {
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
    padding: 0.5rem 2rem;
}

.tab-item > a {
    text-decoration: none;
    color: black;
}

.active {
    color: white;
    background-color: black;
}

.active > a {
    color: white;
}